/* reset all of the defaults to 0 so that you can write your OWN css */
/* don't rely on the built-in browser defaults */

* {
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body { 
    font-size: 16px;
    background-color: black;
    background-image: url(../images/bgi_chalk_board.jfif);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    color: white;
}

header {
    background-color: darkgreen;
}

header > h1 { text-align: center; padding: 8px; }

article { 
    width: 25%; 
    border: 4px solid white; 
    border-radius: 8px; 

    display: inline-block;
    margin: 10px 12px;

    text-align: left;
}

main { text-align: center; }

article > h2 { color: red;  padding: 4px 8px; }

article:first-of-type { border: 4px solid red; }

#inprogress { border: 4px solid lightseagreen; }
#inprogress h2 { color: lightseagreen; }

#done { border: 4px solid green; }
#done h2 { color: green; }

ul { list-style-type: none; }

ul li { padding: 6px 8px; text-transform: uppercase; }

.todo li:nth-child(odd) { background-color: rgba(255, 0, 0, 0.5)}

.inprogress li:nth-child(odd) { background-color: lightseagreen}

.done li:nth-child(odd) { background-color: rgba(0, 255, 0, 0.5)}

/* Checkbox */
input[type="checkbox"] { margin-left: 10px;}

input[type="checkbox"]:checked::after {
    content: '\2713';
    width: 25px;
    height: 25px;
    padding: 4px;
    background-color: blue;
    border: 4px solid orangered;
    top: 10px;
    right: 18px;
    font-size: 1.5em;
    margin-left: 50px;

    animation: fadeIn 0.7s;
  }

 .inprogress input[type="checkbox"]:checked::after {
    content: url(../images/loading_wheel.png);
    width: 25px;
    height: 25px;
    padding: 4px;
    background-color: transparent;
    border: 4px solid transparent;
   
    top: 10px;
    right: 18px;
    font-size: 1.5em;
    align-self: center;

    animation: fadeIn 0.7s;
  }

  .loading {
    display: flex;
    justify-content: center;
  }

  .loading::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 10px solid transparent;
    border-top-color: aquamarine;
    border-radius: 50%;
    animation: loading 1s linear infinite;
  }

  @keyframes loading {
    to {
        transform: rotate(1turn)
    }
  }